*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

.hero{
    width: 95%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.411);
    background-color: #fdfdfd;
    padding: 20px;
    /* margin: 0 auto; */
}

.chat{

}

.messages{
    height: 350px;
    overflow-y: auto;
    border: 1px solid  #9fa0a0;
    padding: 10px;
    border-radius: 10px;
}

.message{
    display: flex;
    align-items: center;
    gap:10px;
    padding: 10px 0px;
}


.userName{
    min-width: 40px;
    max-width: 130px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #636363;
}

input{
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid  #9fa0a0;
    border-radius: 5px;

}

.sendMessage{
    /* height: 100%; */

}


.name{
    font-weight: 500;
}